{% extends "layout.html" %}
{% block body %}

    <form class="form-horizontal" method="post">
        <fieldset>
            <legend> Internship Details </legend>
            <div class="control-group">
                <label class="control-label"> Title </label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="title">
                    <p class="help-block"> The title of the internship </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> Description </label>
                <div class="controls">
                    <textarea rows="3" id="textarea" class="input-xlarge" name="details"></textarea>
                    <p class="help-block"> Description of the internship. MAX 100 Words </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> Tags </label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="tags">
                    <p class="help-block"> Comma seperated tags. eg: PHP, MySQL, WebDev. (max 10) </p>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend> Company Details </legend>
            <div class="control-group">
                <label class="control-label"> Company Name </label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="companyName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> Website </label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="website">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> Email </label>
                <div class="controls">
                    <input class="input-xlarge" type="text" name="email">
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="addInternship">Add Internship</button>
        </div>
    </form>
{% endblock %}
