{% extends "layout.html" %}
{% block body %}
    <div class="row">
        {% for intt in intern %}
        <div class="span3 inlist">
            <div class="inlist-content">
                {{ intt.title }}
                <div class="inlist-tags">
                    {% for tags in intt.tags %}
                        <span class="label label-info">{{ tags.rstrip() }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
